<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if page.title %}
            <title>Secure Meteor - {{page.title}}</title>
        {% else %}
            <title>Secure Meteor</title>
        {% endif  %}
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.description }}">
        <meta name="robots" content="index,follow">
        <meta name="google-site-verification" content="ut-g0UTIu8DWrEtUvWSXrVlCq1exF4YD54ANC-c9rsk" />
        <link rel="icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/css/pygments.css">
        <link rel="stylesheet" href="https://use.typekit.net/ssa1tke.css">
        <link rel="stylesheet" href="/css/main.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <script src="/js/feather.min.js"></script>
    </head>
    <body>
        <header class="ui text container">
            <div class="ui large secondary pointing menu">
                <a href="/" class="item logo">Secure Meteor</a>
                <div class="right menu">
                    <a href="#sign-up" class="ui item">The Book</a>
                    <a href="#sign-up" class="ui item">Blog</a>
                    </div>
                </div>
        </header>
        <section class="{{page.class}}">
            {{ content }}
        </section>
        <footer>
            <div class="ui text container">
                <p>&copy; Pete Corey & East5th Inc. 2018</p>
            </div>
        </footer>
        <script>
            feather.replace();
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54297550-16"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-54297550-16');
        </script>
    </body>
</html>
